<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PhoenixDataEntities" connectionString="metadata=res://*/PhoenixModel.csdl|res://*/PhoenixModel.ssdl|res://*/PhoenixModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PHOENIX_SQL\PHOENIX;initial catalog=PhoenixData;persist security info=True;user id=phoenixuser;password=password;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
