<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="default" connectionString="data source=Beast\SQLEXPRESS; initial catalog=Phoenix; user=PhoenixUser; password=password;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="IsDebug" value="true"/>
  </appSettings>
</configuration>
