<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Phoenix.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Phoenix.My.MySettings.phxSQLConn" connectionString="User ID=PhoenixUser;Data Source=172.16.8.15\Phoenix;FailOver Partner=192.168.204.3;Password=password;Initial Catalog=PhoenixData;Connect Timeout=3;Integrated Security=False;Persist Security Info=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Phoenix.My.MySettings>
            <setting name="FilePath_GUMP" serializeAs="String">
                <value />
            </setting>
            <setting name="GLinkDirectory" serializeAs="String">
                <value>C:\GLPro\</value>
            </setting>
            <setting name="GLinkVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FAMISKeyword" serializeAs="String">
                <value>UAPSUP</value>
            </setting>
            <setting name="BatchNumber_UNum" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLAddress" serializeAs="String">
                <value>172.16.8.15</value>
            </setting>
            <setting name="isArchive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ArchiveDirectory" serializeAs="String">
                <value>C:\Phoenix\OldTextFiles\</value>
            </setting>
            <setting name="FAMISOperatorID" serializeAs="String">
                <value />
            </setting>
            <setting name="FAMISPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="BatchNumber_Pre" serializeAs="String">
                <value />
            </setting>
            <setting name="BatchNumber_ANum" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateAddress" serializeAs="String">
                <value />
            </setting>
        </Phoenix.My.MySettings>
    </userSettings>
</configuration>
