<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net451" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net451" />
  <package id="NHibernateProfiler" version="2.0.2233.0" targetFramework="net451" />
  <package id="WebActivator" version="1.4" targetFramework="net451" />
</packages>